.supplies {
    margin-top: 81px;
}

@media screen and (min-width: 1024px) {
    .supplies {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1920px) {
    .supplies {
        margin-top: 25px;
    }
}