.supplies__cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-items: center;
    row-gap: 16px;
}

@media screen and (min-width: 1024px) {
    .places {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 97px;
        justify-content: center;
    }
}

@media screen and (min-width: 1920px) {
    .places {
        grid-template-rows: auto;
    }
}