.supplies__cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
  row-gap: 30px;
}

@media screen and (min-width: 1024px) {
  .supplies__cards {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 97px;
    row-gap: 2px;
    justify-content: center;
    margin-left: 27px;
    margin-right: 27px;
  }
}

@media screen and (min-width: 1280px) {
  .supplies__cards {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 97px;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .supplies__cards {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    margin-right: 130px;
    margin-left: 130px;
  }
}
