.header__products-button {
  margin: 0;
  display: flex;
  background-color: #2872f0;
  border: none;
  border-radius: 2px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
  padding: 7px 15px;
  margin-right: 32px;
}

@media screen and (min-width: 1024px) {
  .header__products-button {
    margin-right: 39px;
  }
}

@media screen and (min-width: 1920px) {
  .header__products-button {
    margin-right: 96px;
  }
}