.lead__image {
  background-image: url(../../../images/main-image.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 190px;
  min-width: 100%;
}

@media screen and (min-width: 1024px) {
  .lead__image {
    min-height: 450px;
    background-position-y: -89px;
    background-position-x: -7px;
  }
}

@media screen and (min-width: 1280px) {
  .lead__image {
    min-height: 855px;
    background-position-y: -97px;
  }
}
