.menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFF;
    transition: all 300ms linear;
    padding-left: 16px;
    overflow: auto;
}